# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# __Objectives__ :

* Popular languages for Data Science
* Popular tools for Data Science
* Examples of evaluating  expressions in ython
* Arithmetic expression to mulply then add integers

### Some of the popular languages that Data Scientists use are:

1. SQL
2. R
3. Python
4. Julia
5. Javascript

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Keras

| Data Science Tools |
|--------------------|
| TensorFlow |
| MySql |
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print (2 + 3)
print (4 * 5)
print ((4 + 3) * 2)

5
20
14

# This a simple arithmetic expression to multiply then add integers

In [2]:
x = 3
y = 4
a = 5

print ((x * y) + a)

17

# This will convert 200 minutes to hours by diving by 60

In [1]:
minuti = 200

ore = minuti // 60

print (ore)

3

## Author 

Davide Calcagnini